body{
    overflow-x: hidden;
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    background-image: url("../img/img.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}
#mainNav{
    background-color: #222;
}
#mainNav .navbar-brand {
  color: dodgerblue;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #1782fc;
}

 div{
    color:white;
    text-align: left;
    padding: 0 5em;
    
 }
  
section{
    text-align: center;
    opacity: 0.8;
    color: white;
    padding: 3.8em 0 1.8em 0;
}

#title{
    text-align: center;
}

#butom{
    padding:0 5em; 
}